# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/zhall/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

{{ if eq .chezmoi.os "darwin"}}
export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

export PATH="$(go env GOPATH)/bin:$PATH"
export PATH="$PATH:${HOME}/.cache/rebar3/bin"

{{ if eq .chezmoi.os "linux" }}
source ~/.antidote/antidote.zsh
. /opt/asdf-vm/asdf.sh
{{ end }}

{{ if eq .chezmoi.os "darwin"}}
source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh
. /opt/homebrew/opt/asdf/libexec/asdf.sh
{{ end }}

antidote load ~/.zsh_plugins.txt

eval "$(zoxide init zsh)"

eval "$(starship init zsh)"

eval "$(fzf --zsh)"

# Config fzf to use fd instead of find
export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git"
export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"
export FZF_CTRL_T_OPTS="--preview '$show_file_or_dir_preview'"

# Use fd (https://github.com/sharkdp/fd) for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}

show_file_or_dir_preview="if [ -d {} ]; then eza --tree --color=always {} | head -200; else bat -n --color=always --line-range :500 {}; fi"
# Advanced customization of fzf options via _fzf_comprun function
# - The first argument to the function is the name of the command.
# - You should make sure to pass the rest of the arguments to fzf.
_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'eza --tree --color=always {} | head -200' "$@" ;;
    export|unset) fzf --preview "eval 'echo ${}'"         "$@" ;;
    ssh)          fzf --preview 'dig {}'                   "$@" ;;
    *)            fzf --preview "$show_file_or_dir_preview" "$@" ;;
  esac
}

# Catppuccin Mocha FZF theme https://github.com/catppuccin/fzf 
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

# ----- Bat (better cat) -----

export BAT_THEME="Catppuccin Mocha"

# ---- Eza (better ls) -----

alias ls="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions"

alias vim=nvim
alias sc='sesh connect $(sesh list | fzf)'
alias cd="z"
alias googam="/Users/zacharyhall/bin/gam/gam"

export EDITOR=nvim
neowofetch
