# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/zhall/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

{{ if eq .chezmoi.os "darwin"}}
export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

export PATH="$(go env GOPATH)/bin:$PATH"

{{ if eq .chezmoi.os "linux" }}
source ~/.antidote/antidote.zsh
. /opt/asdf-vm/asdf.sh
{{ end }}

{{ if eq .chezmoi.os "darwin"}}
source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh
. /opt/homebrew/opt/asdf/libexec/asdf.sh
{{ end }}

antidote load ~/.zsh_plugins.txt

eval "$(zoxide init zsh)"

eval "$(starship init zsh)"

alias vim=nvim
EDITOR=nvim
# neofetch
