* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12.5px;
  min-height: 0;
}

window#waybar {
  background-color: transparent
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#custom-power_profile,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#idle_inhibitor,
#backlight,
#cava,
#custom-launch_wlogout,
#custom-launch_fuzzel,
#mpris,
#placeholder {
  background: #2E383C;
  opacity: 0.75;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #1E2326;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
  color: #E67E80;
}

#backlight {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

#idle_inhibitor {
  border-radius: 10px;
  margin-right: 10px;
}

#custom-launch_wlogout {
  border-radius: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #7A8478;
}

#custom-launch_fuzzel {
  border-radius: 10px;
  padding-right: 14px;
  margin-right: 10px;
  color: #7A8478;
}

#cava {
  border-radius: 15px;
  color: #A7C080;
}

#mpris {
  color: #A7C080;
  border-radius: 15px;
}

#mpris.paused {
  color: #DBBC7F;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#window {
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

#clock {
  color: #A7C080;
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 15px;
  border-right: 0px;
}

#network {
  color: #DBBC7F;
  border-radius: 10px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 17px;
  margin-right: 10px;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 15px;
  margin-right: 10px;
}

#pulseaudio {
  color: #7FBBB3;
  border-left: 0px;
  border-right: 0px;
  padding-left: 17px;
  border-radius: 15px 0px 0px 15px;
}

#pulseaudio.microphone {
  color: #83C092;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
}

